@import "tailwindcss";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.6rem;
    background-color: black;
    color: #F7DBA7;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer base {
    html,
    body,
    #root {
        @apply h-full w-full;
    }

    h1 {
        @apply text-5xl font-bold my-6 w-fit;
    }

    h2 {
        @apply text-4xl font-bold my-6 w-fit;
    }

    h4 {
        @apply text-2xl font-bold my-4 w-fit;
    }

    p {
        @apply text-base my-2 font-[300] w-fit;
    }
}

@layer components {
    .container {
        @apply py-[2vh] px-[5vw] md:py-[3vh] md:px-[7vw] flex flex-col max-w-full w-full overflow-y-auto;
    }

    .landing-container {
        @apply px-[10vw] md:px-[25vw]
    }
}

.photo-gallery {
    -webkit-column-count: 5;
    -moz-column-count:    5;
    column-count:         5;
    column-gap: 12px;
}

@media (max-width: 640px) {
    .photo-gallery {
        -webkit-column-count: 2;
        -moz-column-count:    2;
        column-count:         2;
    }
}

.photo-gallery img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
}
